<% content_for(:title) { "JARVIS" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="yr" data-view="Yr"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time" data-view="Time"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="atb" data-view="Atb"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hackernews" data-view="Hackernews" data-title="HN"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="lastfm" data-view="lastfm"></div>
     </li> 
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar" data-view="Calendar" data-title="Kalender"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uptime" data-view="Uptime" data-title="Enheter"></div>
    </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="seattle-times" data-view="News" data-title="VG-Nett" data-interval="30"></div>
      </li>
</ul>
</div>
